{{outlet}}

<h2>PlUpload Test</h2>
<hr>
<PlUploader
  @extensions='jpg jpeg png gif'
  @for='upload-image'
  @onfileadd={{action 'uploadImage'}} as |Queue Features|
>
  <div
    class='dropzone'
    id={{features.drag-and-drop.dropzone-id}}
  >
    {{#if Features.drag-and-drop.drag-data}}
      {{#if Features.drag-and-drop.drag-data.valid}}
        Drop to upload
      {{else}}
        Invalid
      {{/if}}
    {{else if Queue.length}}
      Uploading {{Queue.length}} files. ({{Queue.progress}}%)
    {{else}}
      <h4>Upload Images</h4>
      <p>
        {{#if Features.drag-and-drop}}
          Drag and drop images onto this area to upload them or
        {{/if}}
        <a id='upload-image' class='underline cursor'>Add an Image.</a>
      </p>
    {{/if}}
  </div>
</PlUploader>

<h4>Events</h4>
<ul>
  {{#each this.events as |event|}}
    <li>
      <img
        src={{event.preview}}
        alt='preview'
        class='preview'
      >
      {{event.filename}}
    </li>
  {{/each}}
</ul>
